<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassgeneratorCPPTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ClassgeneratorCTests3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>classgenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>classgenerator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0080F9561BD1D9AB003450D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0080F9631BD1DA33003450D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0080F9701BD1DD78003450D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00863BC91BCFA83A008F443D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00863BD61BCFA8AB008F443D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00863BE31BCFA9C7008F443D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00863BF71BCFB4CF008F443D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009DB61F1BD399D000EA74C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009DB62C1BD3AEDA00EA74C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B7E2E31BE0594900B7B779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BAD0A31B9827F200A3A062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BCC1001B7EDA17002C72B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
